.DS_Store
Android/.DS_Store
IOS/.DS_Store
IOS/KNOWtime.xcodeproj/project.xcworkspace/xcshareddata/Busted.xccheckout
IOS/KNOWtime.xcodeproj/xcuserdata/aeisses.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
IOS/KNOWtime.xcodeproj/xcuserdata/aeisses.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
IOS/KNOWtime/.DS_Store
IOS/LICENSE.md.txt
KNOWtime.apk
