<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KNOWTime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04D6335E1A54554700D611CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04D633731A54554700D611CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04D6338C1A5456D100D611CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04D633A41A5456D200D611CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
